  
body {
	margin: 0;
  padding: 0;
	font-family: Helvetica;
  color: #2b2d2d;
}

/* page menu */
.menu-main {
  display: inlineblock;
	width: 200px;
  margin-left: -150px;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: #3e4649;
  opacity: .5;
  -webkit-transition-duration: .7s;
  transition-duration: .7s;
}

.menu-main:hover {
  margin-left: 0;
  opacity: 1;
  background-color: #e27e1f;
}

.menu-main div {
  display: block;
}

.menu-icon img {
  width: 50px;
  height: auto;
  float: right;
}

.menu-options {
  margin-top: 100px;
}

.menu-options ul {
  padding: 0;
  list-style: none;
}

.menu-options li {
  height: auto;
  text-align: right;
  padding: 0 10px;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
}

.menu-options li:hover {
  background-color: white;
}

.menu-options li a {
  display: block;
  font-size: 2em;
  text-decoration: none;
  color: #7c4400;
}

.menu-links {
  margin-top: 100px;
  width: auto;
  list-style: none;
  padding: 0;
  margin-left: auto;
  margin-right: auto;
}

.menu-links li {
  float: left;
  display: inline-block;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.menu-links li a {
  text-decoration: none;
}

/* page body */
.page-main {
  margin-top: 100px;
  padding: 0 100px;
}

.blog-posts {
  min-width: 500px;
  max-width: 700px;
  font-size: 1.2em;
  margin-bottom: 100px;
  margin-left: auto;
  margin-right: auto;
}

.blog-posts ul {
  padding: 0;
  list-style-type: none;
}

.post {
  margin-bottom: 100px;
}

.post-title {
  font-family: Futura, 'Trebuchet MS', Arial, sans-serif;
  font-weight: 100;
}

.post-text pre {
  padding: 15px;
  border: solid 1px #35acb7;
  border-radius: 5px;
  overflow-x: scroll;
}

.post-text code {

}

.post-image {
  max-width: 90%;
}

/* post tags */
.post-tags {
}

.post-tags li {
  margin-left: 10px;
  display: inline;
}

.post-tags li a {
  color: #35acb7;
  text-decoration: none;
}

/* post comments */
.post-comments {

}

.comment {
  
}

.comment-name {
  margin-left: -20px;
}



