  
body {
	background-color: #eee;
	margin: 0;
	font-family: helvetica;
}

/* page menu */
.menu_main {
  display: block;
	width: 300px;
	position: fixed;
	top: 0;
	bottom: 0;
	background-color: lightcyan;
}

.menu_options {

  margin-top: 100px;

}

.menu_options div {

  margin-top: 30px;
  
	font-size: 30px;

	text-align: center;
	
}

.menu_options div a {
  /*color: darkgrey;*/
}

/* page body */
.page_main {
  display: inline-block;
  margin-top: 100px;
  margin-left: 400px;
}

.blog_posts {
  width: 700px;
  font-size: 18px;
  margin-bottom: 100px;
}

.post_text pre {
  padding: 0;
}

.post_text code {
  padding: 0;
}

.post_tags {
  /*display: inline-block;*/
}

.post_tags li {
  /*float: left;*/
  margin-left: 10px;
  display: inline;
}

.blog_posts ul {
  list-style-type: none;
}

.post_comments {

}

.comment {
  
}

.commentName {
  margin-left: -20px;
}



