
body {
	background-color: #eee;
	margin: 0;
	font-family: helvetica;
}

/* page menu */
.menu_main {
  display: block;
	width: 400px;
	position: absolute;
	top: 0;
	bottom: 0;
	background-color: lightcyan;
}

.menu_options {

  margin-top: 100px;

}

.menu_options div {

  margin-top: 30px;
  
	font-size: 30px;

	text-align: center;
	
}

.menu_options div a {
  /*color: darkgrey;*/
}

/* page body */
.page_main {
  display: inline-block;
  margin-top: 100px;
  margin-left: 450px;
}

.blog_posts {
  width: 500px;
  margin-left: 50px;
  font-size: 18px;
}

.post_tags {
  /*float: left;*/
  display: inline-block;
}

.blog_posts .comment {
  display: block;
  /*float: left;*/
}

