<div class='blog_posts'>

  <ul>
    <li class='post' ng-repeat='post in posts'>
      <h1 class='post_title'> {{post.subject}} </h1>
      <h4 class='post_date'> {{post.createdAt | date: format}} </h4>
      <article class='post_text' ng-bind-html='post.textBody'> </article>

      <!-- post tags -->
      <div>
        <h4> Tags: </h4>  
        <ul class='post_tags'> 
          <li ng-repeat='tag in post.tags'> 
            <a ng-href='#/search/{{tag}}'> {{tag}} </a>
          </li>
        </ul>
      </div>

      <!-- post comments -->
      <div class='post_comments'>
        <h4> Comments: </h4>  
        <button type='submit' ng-click='addComment()'> Add Comment </button>
        <ul> 
          <li class='.comment' ng-repeat='comment in post.comments'>
            <div>
              <h4 class='commentName'>
                <a ng-href='#/user/{{comment.name}}'>{{comment.name}}</a>
              </h4>
              <p>
                {{comment.comment}}
              </p>
            </div>
           <li>
        </ul>
      </div>
    <li>
  <ul>

</div>